.accountContainer {
  color: red;
  width: 50%;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4vw;
  font-size: 1rem;
}

.accountContainer > span:last-child {
  cursor: pointer;
}

.names {
  color: rgb(70, 70, 70);
  font-weight: 900;
}

.names:hover {
  color: rgb(0, 0, 0);
  font-weight: 900;
}
